/* man */
.man.right {
  left: 305%;
  transform: scaleX(-1);
}

/* head */
.head {
  height: 50px;
  width: 50px;
  position: relative;
  left: 10px;
  z-index: 100;
}

/* hat */
.hat {
  position: absolute;
  left: -8px;
}

.hat .top {
  position: absolute;
  background-color: blueviolet;
  width: 2.5em;
  height: 1.25em;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border: 4px solid black;
  bottom: 13px;
  left: 12px;
}

.hat .bottom {
  width: 4em;
  height: 0.5em;
  position: absolute;
  background-color: blueviolet;
  border-radius: 20px;
  border: 4px solid black;
  bottom: 0;
  left: 0;
}

/* end hat */
/* start face */
.face {
  position: absolute;
  left: 0;
}

.face .skin {
  width: 2.5em;
  height: 2.5em;
  background-color: sandybrown;
  border-right: 8px solid black;
  border-left: 8px solid black;
}

.face .eyes .left,
.face .eyes .right {
  position: absolute;
  width: 0.6em;
  height: 0.25em;
  background-color: #333;
  z-index: 100;
  border-radius: 20px;
  top: 5px;
}

.face .eyes .left {
  left: 13px;
}

.face .eyes .right {
  right: 13px;
}

.face .beared {
  position: absolute;
  width: 3.5em;
  height: 3em;
  border-radius: 50%;
  background-color: black;
  top: 1em;
}

.face .mouth {
  width: 1.5em;
  height: 0.75em;
  background-color: sandybrown;
  position: absolute;
  top: 1.5em;
  border-radius: 50%;
  left: 30%;
}

/* end face */
/* end head */
/* start body */
.body {
  position: relative;
}

/* start upper */
.body .upper {
  position: absolute;

  width: 4em;
  height: 4em;
  background-color: #f44336;
  border-radius: 15px;
  border: 6px solid black;
}

.body .upper .arms {
  position: absolute;
}

.body .upper .arms .left-arm,
.body .upper .arms .right-arm {
  position: absolute;
}

.body .upper .arms .left-arm .arm,
.body .upper .arms .right-arm .arm {
  position: absolute;
  width: 6em;
  height: 1em;
  background-color: #f44336;
  border: 4px solid black;
  border-radius: 20px;
}

.body .upper .arms .left-arm .hand,
.body .upper .arms .right-arm .hand {
  position: absolute;
  width: 1.5em;
  height: 1em;
  border-radius: 50%;
  background-color: sandybrown;
  border: 4px solid black;
}

.body .upper .arms .left-arm {
  left: -26px;
  top: -4px;
  transform: rotate(31deg);
  z-index: -1;
}

.body .upper .arms .left-arm .hand {
  left: -13px;
  top: 0;
}

.body .upper .arms .right-arm {
  transform: rotate(169deg);
  right: -73px;
  top: 13px;
}

.body .upper .arms .right-arm .hand {
  left: 89px;
}

/* end of upper */
/* start lower */
.body .lower {
  position: absolute;
}

.body .lower .legs .left-leg .leg,
.body .lower .legs .right-leg .leg {
  width: 1em;
  height: 4.5em;
  background-color: olive;
  border: 6px solid black;
  position: absolute;
  top: 53px;
  z-index: -1;
}

.body .lower .legs .left-leg .leg {
  left: 9px;
}

.body .lower .legs .right-leg .leg {
  right: -65px;
}

.body .lower .legs .left-leg .shoe,
.body .lower .legs .right-leg .shoe {
  position: absolute;
  width: 2em;
  height: 1em;
  border-top-left-radius: 50%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 50%;
  background-color: brown;
  bottom: -137px;
  border: 6px solid black;
}

.body .lower .legs .right-leg .shoe {
  right: -83px;
  transform: scaleX(-1);
}

.body .lower .legs .left-leg .shoe {
  left: -8px;
}

/* end of lower */
/* finish body */
/* start axe */
.axe {
  position: absolute;
  font-size: 10px;
  left: -98px;
}

.axe .stick {
  position: absolute;
  width: 10em;
  height: 0.5em;
  border-radius: 20px;
  background-color: rgb(194, 50, 50);
  border: 3px solid brown;
  transform: rotate(45deg);
}

.axe .metal {
  position: absolute;
  width: 4em;
  height: 2em;
  background-color: silver;
  transform: rotate(-45deg);
  left: 0px;
  top: -25px;
  border: 2px solid black;
  border-radius: 4px;
}

/* end of axe */
/* on left */
.man {
  position: absolute;
  top: 82%;
  left: -244%;
}

/* man hitting */

.man.hitting-right .body .arms .right-arm {
  transform: rotate(18deg);
  right: -5px;
  top: 8px;
  /* z-index: -1; */
}
.man.hitting-right .body .arms .left-arm {
  transform: rotate(216deg);
  left: 102px;
  top: 60px;
  z-index: -1;
}

.man.hitting-right .axe {
  /* transform: scaleX(-1); */
  rotate: 172deg;
  left: 202px;
  top: 127px;
}
.man.collision-man .body .arms .right-arm {
  transform: rotate(47deg);
  /* left: 70px; */
  right: -55px;
  top: -12px;
}
.man.collision-man .body .arms .left-arm {
  transform: rotate(-54deg);
  top: 72px;
  z-index: 5;
  left: -57px;
}
.man.collision-man .axe {
  rotate: 135deg;
  top: 135px;
}
.man.collision-man .body .upper {
  top: 43px;
}
.man.collision-man .body .upper {
  top: 43px;
}
.man.collision-man .head {
  animation-name: rotate;
  animation-duration: 1s;
  transform-origin: 50% 50%; /* يجب تغيير هذه القيمة لتكون وسط الرأس */
  animation-iteration-count: infinite;
  top: 57px;
}

@keyframes rotate {
  0% {
    /* استخدمت "0deg" بدلاً من "0" للوضوح */
    transform: rotate(45deg);
  }
  50% {
    /* استخدمت "0deg" بدلاً من "0" للوضوح */
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg); /* استخدمت "360deg" بدلاً من "360" للوضوح */
  }
}
